*{
    list-style: none;
}
#menu{
    display: flex;
    margin-bottom: 20px;
    background: #7DE2D3;
    justify-content: space-around;
}
#menu>li{
    padding: 20px 0;
    font-size: 1.4em;
}
#menu a{
    color: #fff!important;
}

.homeAdd{
    width: 5%!important;
    /*box-shadow: inset 2px 2px 5px 0 #fff;*/
    outline: none;
    /*padding: 3.5px 7px;*/
    background: linear-gradient(0deg,#ddd,#ccc);
    border-radius: 5px;
}
.homeAdd:hover{
    box-shadow: inset 2px 2px 5px 0 #fff;
}
.homeInp{
    min-width: 25%!important;
}
#homeTable{
    margin: 20px auto;
}
