#ulNav{
    width: 100%;
    text-align: center;
}
.nav-item{
    margin-left: 10%!important;
}

body,html{
    min-height: 100%;
    background: url(http://kreativo.se/backlogin.jpg) no-repeat;
    background-size: cover;
}
.bg-light{
    background: #4267B2!important;
    width: 100%;
    position: fixed;
    z-index: 9999999;
}
.bg-light>:nth-child(n),#ulNav>li>a{
    color: white!important;
}
main{
    /*background-image: url(http://kreativo.se/backlogin.jpg);*/
    /*background-size: cover;*/
    font-family: "Helvetica Neue", Helvetica, Arial;
    height: calc(100% - 57px);

}
main:after{
    content: '';
    display: block;
    clear: both;
}